@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<OOODERP.Models.Client>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["TITLE_Index"];
}

<h2>@Localizer["TITLE_Index"]</h2>

<p>
    <a asp-action="Create">@Localizer["lblCreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClientName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientID">@Localizer["lblEdit"]</a> |
                <a asp-action="Details" asp-route-id="@item.ClientID">@Localizer["lblDetails"]</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientID">@Localizer["lblDelete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
